@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,300&family=Pinyon+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

:root {
    --carpetColor: darkolivegreen;
    --bigText: rgb(255, 207, 224);
    --cardColor: rgb(252, 248, 188);
    --blue: rgb(37, 4, 169);
    --green: rgb(65, 152, 3);
    --lightGreen: rgb(90, 197, 255);
    --yellow: rgb(254, 246, 209);
    --shadowLight: rgb(140, 140, 140);
    --shadowDark: rgba(0, 0, 0, .7);
    --bigTextFont: 'Pinyon Script';
    --bigTextSize: 4rem;
    --bodyTextFont: 'Garamond';
}

/* Container layouts */

.container {
    background-color: var(--carpetColor);
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 8% 3fr 1fr;
}
.header-container {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-nav {
    font-family: var(--bigTextFont);
    font-size: var(--bigTextSize);
    color: var(--bigText);
    padding: 20px;
}

.main-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;

    background-color: var(--yellow);
    padding: 3rem;
    box-shadow: 10px 10px 20px var(--shadowDark);
    border-radius: 8px;
}

.side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: var(--bodyTextFont);
    color: var(--bigText);
}

/* Card and info styles */

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--bodyTextFont);
    text-align: center;
    background-color: var(--cardColor);
    padding: 40px;
    border-radius: 3px;
    border-left: 8px solid var(--blue);
    border-bottom: 5px outset var(--lightGreen);
    box-shadow: 2px 2px 10px var(--shadowLight);
}

.book-title {
    font-weight: bold;
    text-transform: uppercase;
}

.book-author {
    font-style: italic;
}

/* Button styling */
.addBook-btn, .close-btn {
    border-radius: 100%;
    width: 2.5rem;
    border: none;
    text-align: center;
    transition-duration: 0.2s;
    padding: 8px;
}
.addBook-btn {
    background-color: var(--green);
    font-family: var(--bodyTextFont);
    font-size: 20px;
    color: var(--blue);
}

.addBook-btn:hover {
    background-color: var(--bigText);
    box-shadow: 2px 2px 10px var(--blue);
}

button {font-family: var(--bodyTextFont);
    font-size: 20px;
    background-color: var(--cardColor);
    color: var(--blue);
    border-radius: 60px;
    border: none;
    text-align: center;
    transition-duration: 0.2s;
    padding: 10px;
    margin: 20px;

}

button:hover {
    background-color: var(--bigText);
    box-shadow: 2px 2px 10px var(--blue);
}

#removeBtn {
    background-color: brown;
}

/* Modal/Pop-Up  */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid var(--yellow);
    border-radius: 10px;
    z-index: 10;
    background-color: var(--cardColor);
    width: 300px;
    max-width: 40%;
    
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--green);
    font-family: var(--bigTextFont);
    font-size: 28px;
    text-align: center;
    color: var(--blue);
}

.modal-body {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--bodyTextFont);
    text-transform: uppercase;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--shadowDark);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
